<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href=" {{ url_for ('static' , filename= 'style.css')}}" >
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
</head>



<body>
    <div class="cont">
    {% for i in range(x) %}
        
            <div class="f1">
            {% for k in range(y) %}
            <div class="white"></div>
            <div class="black"></div>
            {% endfor %}</div>
            
        
            <div class="f2">
            {% for k in range(y) %}
            <div class="black"></div>
            <div class="white"></div>
            {% endfor %}
        </div>
            
            

        
    {% endfor %}
    </div>



</body>
</html>
