<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table >
        <tr>
            <th>Id</th>
          <th>Nmae</th>
          <th>Email</th>
          <th>Age</th>
        </tr>
        {% for i in users %}
        
        <tr>
            <td>{{i.id}}</td> 
          <td>{{i.first_name}} {{i.last_name}}</td>
          <td>{{i.email_address}}</td>
          <td>{{i.age}}</td>
          
        </tr>
        {% endfor %}
       
      </table>
      <br>
      <br>
      <form action="/pro" method="POST" >
          {% csrf_token %}
          <h1>Add a User</h1>
          <p>First Name:</p>
          <input type="text"  name="fname"><br><br>
          <label for="lname">Last name:</label>
          <input type="text" id="lname" name="lname"><br><br>
          <label for="email">Email:</label>
          <input type="text" id="email" name="email"><br><br>
          <label for="age">age:</label>
          <input type="text" id="age" name="age"><br><br>
          <button type="submit" name="add"> add</button>
      </form>
</body>
</html>